.no-break{
	white-space: nowrap;
}
.align-center {
	margin: 0 auto;
	float: none;
}
.text-center {
	text-align: center;
}
.hidden {
	display: none;
}
.spacer50 {
	height: 50px;
	width: 100%;
	display: block;
}
.txtSizeBig {
	font-size: 120px;
	font-weight: bold;
}
.txtSize20 {
	font-size: 20px;
}
.mostReportedContainer {
	padding: 40px 15px;
	border: 1px solid #CCC;
}
.recentReports .port_id, .recentReports .name, .recentReports .membership_id, .recentReports .comment, .recentReports .status {
	padding: 10px 15px;
}
.recentReports .port_id {
	width: 9%;
	font-weight: bold;
	border-right: 1px solid #ddd;
}
.recentReports .name {
	width: 15%;
	border-right: 1px solid #ddd;
}
.recentReports .membership_id {
	width: 17%;
	border-right: 1px solid #ddd;
}
.recentReports .comment {
	width: 48%;
	border-right: 1px solid #ddd;
}
.recentReports .status {
	width: 12%;
}
.list-group-item {
	padding: 0;
	display: flex;
}